.logo {
  font-size: x-large;
}

.about-button {
  color: rgb(0, 0, 0); /* Ensures the link appears black */
  text-decoration: none; /* Removes the underline */
}

.message {
  /* max-width: 600px; */
  padding: 15px;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}

.container {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}

.menu-display {
  columns: 4;
}

.restaurant-display {
  columns: 5;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.special-button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #d15b38;
  color: #fff;
  border: none;
  border-radius: 5px;
}