.logo {
  font-size: x-large;
}

.message {
  /* max-width: 600px; */
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}

.container {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}
